.web-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo {
  color: #2e2f42;
}
.studio {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio:hover,
.studio:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.e-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.e-mail:hover,
.e-mail:focus {
  color: #404bbf;
}
.footer {
  background-color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
